body {
  background: $bg-home;
}

.dashboard-wrapper {
  display: flex;
}
/*
  Flex child of dashboard-wrapper
  and will grow to take up remaining
  screen real estate that dashboard-fixed
  doesn't take up
*/
.dashboard-fluid {
  flex-grow: 1;
}
/*
  Flex child of dashboard-wrapper
  and has a fixed size
*/
.dashboard-fixed {
  flex-basis: 350px;
}
/*
  TOPBAR
  navigation container for the dashboard
*/
.topbar {
  display: flex;
  height: 60px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}
.logo {
  height: 100%;
  width: 60px;


background: #cb2d3e; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*
  VIEWINGS
  container for all current viewings on
  the dashboard
*/
.viewings {

}
/*
  UPCOMING
  container for all users upcoming events
  on the dashboard
*/
.upcoming {
  background-color: $bg-upcoming;
  width: 100%;
  height: 100vh;
}
