.accounts-profile-img {

  & img {
    width: 100%;
    height: auto;
  }
}

.accounts-nav-row {
  border-bottom: 1px solid #d3d3d3;
  margin-bott: 40px;
  padding: 18px 0;
}

.your-dashboard-anchor {
  border: 1px solid #d3d3d3;
}
