.user-accounts-info {
  display: flex;
  align-items: flex-end;
}
.user-name,
.user-join-date {
  margin: 0;
}
.user-name {
  color: #dcdcdc;
  padding-left: 40px;
}
.user-join-date {
  flex-grow: 1;
  text-align: right;
  color: #9aacaf;
}
.user-account-header {
  background: #303535;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px 0;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}
.account-page {
  padding-top: 40px;
}
