.block {
  position: relative;
  width: 100%;
  min-height: 500px;
  min-height: 72vh;
  overflow: hidden;
  background: #4776E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.iphone-wrapper {

  & img {
    position: absolute;
    right: 0;
  }
}

.block .ui.menu {
  margin-top: 5px;
}
.ui.button.free-trial {
  background: #fff;
  color: #5a6de7;
}
.highlight {
  padding: 30px;
}
.highlight h1 {
  font-family: 'Lato';
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -1px;
  line-h: 1.15;
  text-shadow: 2px 1px 7px rgba(118, 48, 228, 0.7);
}
//ugh, override semantic
.ui.button.massive.get-started-btn {
  background: #fff;
  color: #805be9;
  margin: 14px 0;
}
