.splash-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 418px;
  background: url('purple-skyscape.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.hero-menu {
  z-index: 9000;
  margin-bottom: calc(100vh - 50px);
}
