body {

}
.map {
  width: 100%;
  height: 100vh;
}

.dashboard-wrapper {
  display: flex;
}
/*
  Flex child of dashboard-wrapper
  and will grow to take up remaining
  screen real estate that dashboard-fixed
  doesn't take up
*/
.dashboard-fluid {
  flex-grow: 1;
}
/*
  Flex child of dashboard-wrapper
  and has a fixed size
*/
.dashboard-fixed {
  flex-basis: 350px;
}
/*
  TOPBAR
  navigation container for the dashboard
*/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  height: 66px;
  width: 100%;
  //box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
.dashboard {
  padding: 20px 50px;

}
body.dashboard-page {
  background-color: #f8f9fd;
}
/*
  VIEWINGS
  container for all current viewings on
  the dashboard
*/
.viewings {
  flex-grow: 1;
}
.viewing-container {
  padding-bottom: 15px;
}
/*
  UPCOMING
  container for all users upcoming events
  on the dashboard
*/
.upcoming {
  //background-color: $bg-upcoming;
  // width: 100%;
  // height: 100vh;
  flex-basis: 320px;
  height: 100vh;
  background: linear-gradient(270deg, rgb(30, 155, 192), rgb(7, 48, 90));
  background: -webkit-linear-gradient(270deg, rgb(30, 155, 192), rgb(7, 48, 90));
  background: #323450;
}
