body {
  //background: $bg-home;
}

.dashboard-wrapper {
  display: flex;
}
/*
  Flex child of dashboard-wrapper
  and will grow to take up remaining
  screen real estate that dashboard-fixed
  doesn't take up
*/
.dashboard-fluid {
  flex-grow: 1;
}
/*
  Flex child of dashboard-wrapper
  and has a fixed size
*/
.dashboard-fixed {
  flex-basis: 350px;
}
/*
  TOPBAR
  navigation container for the dashboard
*/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  width: 100%;
  background: #3f4950;
  //box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}
/*
  VIEWINGS
  container for all current viewings on
  the dashboard
*/
.viewings {

}
/*
  UPCOMING
  container for all users upcoming events
  on the dashboard
*/
.upcoming {
  background-color: $bg-upcoming;
  width: 100%;
  height: 100vh;
}
