// .navbar-dark {
//   width: 100%;
//   height: 68px;
//   background-color: $navbar-dark;
// }
.nav-items-left {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0 8px;
    position: relative;
  }
}
.new-btn-wrapper {
  position: relative;
    z-index: 0;
}
.new-viewing {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  border: none;
  color: #fff;
  margin: auto;
  @extend .gradient-sweet-morning;

  &::after {
    content: '';
    position: absolute;
    height: 42px;
    width: 42px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: auto;
    transition: width 180ms, height 180ms;
    transition-timing-function: ease-out;
  }

  &:hover::after {
    content: '';
    height: 52px;
    width: 52px;
    margin: auto;
    @extend .gradient-sweet-morning;
    border-radius: 100%;
    opacity: 0.5;
    transition: width 180ms, height 180ms;
    transition-timing-function: ease-out;
  }
}
.nav-search-center {
  width: 30%;
}
