//ugh semantic specificity
.ui.secondary.menu.dashboard-nav {
  margin: 0;
  height: 50px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    top: 50px;
    background: linear-gradient(to left, #4776E6, #8E54E9);
    position: absolute;
    visibility: visible; //VERY IMPORTANT Semantic UI sets this to hidden by default
  }
}

.topbar {
  background: #fff;
}
.nav-items-left,
.nav-items-account {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  li {
    padding: 0 8px;
    position: relative;
  }
}
.ui.secondary.menu.dashboard-nav a.item.nav-logo,
.ui.secondary.menu.dashboard-nav a.item.nav-logo:hover {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #8E54E9;
  background: -webkit-linear-gradient(180deg, #4776E6, #8E54E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.new-btn-wrapper {
  position: relative;
    z-index: 0;
}
.new-viewing {
  border-radius: 100%;
  height: 42px;
  width: 42px;
  border: none;
  color: #fff;
  margin: auto;
  outline: 0;
  @extend .gradient-sweet-morning;

  &::after {
    content: '';
    position: absolute;
    height: 42px;
    width: 42px;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: auto;
    transition: width 180ms, height 180ms;
    transition-timing-function: ease-out;
  }

  &:hover::after {
    content: '';
    height: 52px;
    width: 52px;
    margin: auto;
    @extend .gradient-sweet-morning;
    border-radius: 100%;
    opacity: 0.5;
    transition: width 180ms, height 180ms;
    transition-timing-function: ease-out;
  }
}

.nav-account {
  display: flex;
  align-items: center;
}

.account-profile-pic {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 3px 1px rgba(36, 45, 51, 0.8);

}
.img-profile-pic {
  width: 42px;
  height: auto;
}
.dropdown-menu {
  right: 0;
  left: auto;
}

.topbar-dark {
  display: flex;
  flex-basis: 320px;
  height: 100%;
  background: #282a44;
  align-items: center;
  justify-content: space-around;
}
.btn-new {
  height: 42px;
  padding-left: 24px;
  padding-right: 24px;
  color: rgba(255,255,255,0.8);
  background: #4CB8C4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    color: #fff;
  }
}
.dashboard-nav .user-profile-name {
  padding-left: 6px;
}
// .logout {
//   font-size: 1.2em;
//   color: #f7f7f7;
//   background: transparent;
//   border: none;
// }

/*
/
/ Event Layout Navigation
/
*/
