<template name="dashboardLayout">
    {{> newEventModal }}
    {{> topbar }}
  <div class="dashboard">
    <div class="container">
      <div class="ui compact menu">
  <a class="item">
    <i class="icon mail"></i> Messages
    <div class="floating ui red label">22</div>
  </a>
  <a class="item">
    <i class="icon users"></i> Friends
    <div class="floating ui teal label">22</div>
  </a>
</div>
    </div>
    <div class="viewings">
      <div class="ui cards">
      {{#each viewings}}

      <div class="ui centered card raised {{isOverdue endTime}}">
        <div class="content">
          <div class="right floated meta">{{relativeTime startTime endTime}}</div>
          {{> avatar userId=author size="card" class="ui avatar image" shape="circle"}}
          <div class="agent">{{agentName author}}</div>
          <a class="header" href="/{{author}}/{{_id}}">{{address}}</a>
        </div>



        <div class="image">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&zoom=14&size=290x160&scale=2&maptype=roadmap&markers=size:mid%7Ccolor:red%7C{{lat}},{{lng}}&key=AIzaSyDopWicZjc_ohjfNM8ol6OUDV3ut8FqKjk" alt="Map of {{address}}">
        </div>
        <div class="extra content">
          <div class="content">
            <i class="flag icon green"></i>
            {{getStartTime startTime}}
          </div>
          <div class="content">
            <i class="flag checkered icon"></i>
            {{getEndTime endTime}}
          </div>

  </div>
</div>

      {{/each}}




    </div>




    </div>
    <!-- <div class="upcoming">
      <div class="upcoming-head"></div>
      {{> upcoming }}
    </div> -->
  </div>

</template>
