<template name="dashboardLayout">
    {{> newEventModal }}
    {{> topbar }}
  <div class="dashboard">
    <div class="viewings">
      <div class="ui cards">
      {{#each viewings}}
      <div class="ui card raised">
        <div class="content">
          <div class="right floated meta">14h</div>
          {{> avatar userId=author size="card" class="ui avatar image" shape="circle"}}
          <div class="agent">{{agentName author}}</div>
        </div>
        <div class="header"><a href="/{{author}}/{{_id}}">{{address}}</a></div>
        <div class="image">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=290x160&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyDopWicZjc_ohjfNM8ol6OUDV3ut8FqKjk" alt="">
        </div>
        <div class="extra content">
    <a>
      <i class="flag icon"></i>
      {{getStartTime startTime}}
    </a>
  </div>
      </div>
      {{/each}}




    </div>




    </div>
    <!-- <div class="upcoming">
      <div class="upcoming-head"></div>
      {{> upcoming }}
    </div> -->
  </div>

</template>
