<template name="eventLayout">
  <div class="event-nav">
    <div class="viewing-agent">
      {{getAgentName}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 map-container">
        <div id="map" class="map">{{> googleMap name="exampleMap" options=exampleMapOptions}}</div>
      </div>
      <div class="col-md-6 viewing-container">
        <a href="/home" class="ui labeled icon button">
  <i class="arrow left icon"></i>
  Return to Dashboard
</a>
<div class="ui tertiary inverted center aligned segment">
  <h3>{{viewing.address}}</h3>
</div>

        <div class="agent">
          {{getAgentName}}
        </div>
        <div class="row">
          <form>
          <div class="col-md-6">
            <div class="form-group">
                <div class='input-group date' id='datetimepickerStart'>
                    <span class="input-group-addon">Start Time</span>
                    <input type='text' class="form-control datetimepicker" data=DateTimePicker name="start-date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <div class='input-group date' id='datetimepickerEnd'>
                  <span class="input-group-addon">End Time</span>
                    <input type='text' class="form-control datetimepicker1" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
          </div>
          </form>
        </div>




<div class="ui divider"></div>
        <form class="form-inline add-follower-email">
          <div class="form-group">
            <label for="follower-email-address">Invite a Follower</label>
            <input type="email" class="form-control standard-input-style" id="follower-email-address" name="email" placeholder="jane.doe@example.com">
          </div>
          <button type="submit" class="ui positive basic button" id="send-invite">Send invitation</button>
        </form>

        <div class="list-of-followers">
          {{#each viewing.followersEmail}}
          <div class="ui label basic large blue">
            {{this}}
          </div>
          {{/each}}
        </div>
        <div class="ui divider"></div>
        <button class="ui primary button fluid js-check-in">Check In</button>
        {{#each events}}
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <i class="marker icon"></i>
            </div>
            <div class="content">
              <div class="date">
                {{unixToTimeAgo timestamp}}
              </div>
              <div class="summary">
                {{#each this.result}}
                  {{getAgentName}} checked in near {{formattedAddress}}
                {{/each}}
                <div class="ui icon button" data-tooltip="Latitude: {{lat}} Longitude: {{lng}}" data-position="left center">
        <i class="world icon"></i>
      </div>
            </div>
          <div class="extra text">

  <!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{accuracy}}" aria-valuemin="0" aria-valuemax="100" style="width: {{accuracy}}%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div> -->
          </div>

        </div>
      </div>
    </div>



        {{/each}}
      </div>
    </div>
  </div>


</template>
